<header class="hero bg-primary navbar sticky-top">
    <h1>
      Add to your profile!
    </h1>
    <nav>
      <button class="btn btn-outline-dark" id="logout">Logout</button>
      <button class="btn btn-outline-dark" id="profile"><a href="/profile">Profile</a></button>
      <button class="btn btn-outline-dark"><a href="/">Main</a></button>
    </nav>
  </header>

<section class="vh-50">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem; background-color:rgba(204, 204, 204, 0.685);">
          <div class="div-center">
            <div class="d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form class="event-form">

                  <div class="div-center">
                    <h2>User Info</h2>
                    {{!-- <img width="400" height="200" class="img-responsive" src="https://giffiles.alphacoders.com/649/6490.gif" alt="Gif ID: 6490" title="Anime Dragon Ball Z Gif"> --}}
                    <img class="photo" src="https://64.media.tumblr.com/4b33218bc4151882d5bd0e14cb3b331f/tumblr_o9nluvpJtS1tkb22po1_500.gifv" alt="">
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Upload your tournament results!</h5>

                  <div class="form-outline mb-4">
                    <input type="form" id="tournament-event" class="form-control form-control-md" />
                    <label class="form-label" for="touranment-event">Tournament</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="form" id="standings-event" class="form-control form-control-md" />
                    <label class="form-label" for="standings-event">Standings</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="form" id="character-event" class="form-control form-control-md" />
                    <label class="form-label" for="character-event">Character</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="form" id="biography-event" class="form-control form-control-md" />
                    <label class="form-label" for="biography-event">Biography</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg" type="submit">Upload</button>
                  </div>

                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/eventscript.js"></script>
