<div class="jumbotron">
  <h2 class="signup-form">You wanna Smash?</h2>
  <p class="lead">If this is your first time here, please sign to get started, otherwise - Login!</p>
  <hr class="my-4">
  <form class="form signup-form">
  <div class="form-group">
    {{!-- <button class="btn btn-primary" type="submit" id="signUp">Sign Up</button> --}}
    <a type="button" class="btn btn-outline-dark" href="/login">Login!</a>
  </div>
</form>

<form class="form login-form">
  <div class="form-group">
    {{!-- <button class="btn btn-primary" type="submit" id="logIn">Login</button> --}}
    <a type="button" class="btn btn-outline-dark" href="/signup">Sign Up!</a>
  </div>
</form>

</div>

