<h2 class="signup-form">Signup or Log In</h2>


<form class="form signup-form">
  <div class="form-group">
    {{!-- <button class="btn btn-primary" type="submit" id="signUp">Sign Up</button> --}}
    <a href="/login">Login!</a>
  </div>
</form>

<form class="form login-form">
  <div class="form-group">
    {{!-- <button class="btn btn-primary" type="submit" id="logIn">Login</button> --}}
    <a href="/signup">Sign up now!</a>
  </div>
</form>

<script src="../public/js/firstvisit.js"></script>


