<header class="hero bg-primary navbar sticky-top">
    <h1>
      Smash!
    </h1>
    {{#if logged_in}}
    <nav>
      <button class="btn btn-outline-dark" id="logout">Logout</button>
      <button class="btn btn-outline-dark" id="profile"><a href="/profile">Profile</a></button>
    </nav>
    {{/if}}
  </header>

<div class="search">
  <input type="search" class="search-box" />
  <span class="search-button">
    <span class="search-icon"></span>
  </span>
</div>

<script src="/js/profile.js"></script>
{{#each users as |User| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{User.name}}</h2>
  </div>
    <div class="col-md-6">
    <h2>{{User.tag}}</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{User.email}}">{{User.email}}</a></h3>
  </div>
</div>
{{/each}}