<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<header class="hero bg-primary navbar sticky-top">

  <h1>
    Welcome!

  </h1>
  {{#if logged_in}}
  <nav>
    <button class="btn btn-outline-dark" id="logout">Logout</button>
    <button class="btn btn-outline-dark" id="profile"><a href="/profile">Profile</a></button>
  </nav>
  {{/if}}
</header>

<body id="body" data-spy="scroll" data-target=".navbar" data-offset="100" <div class="content-wrapper">
  <div class="container" style="border-radius: 1rem">
  <section style=" border-radius: 1rem; background-color: rgba(255, 255, 255, 0.925)" class="features-overview"
                  id="features-section">
                  <div class="mt-4 content-header">
                    <h2 class="mt-4">How does this work?</h2>
                    <h5 class="mb-n5 ml-4 mr-4 section-subtitle text-muted">This app is a database for E-sports players and recruiters 
                      designed to help players create a recruiting profile and get discoverd. One of the fastest-growing sports in the world,
                      E-sports, short for electronic sports, are team-based video game competitions watched in person or online by spectators
                      on Twitch and around the world. Like traditional sports, players wear team jerseys, compete in arenas and work with
                      teammates and coaches to win huge cash prizes; In 2019, the global esports industry is expected to hit
                      $1.1 billion and capture a fanbase of 454 million.
                      
                      A sort of online live resume, reparing a profile with our app will help everyone from local champs trying to make a 
                      name for themselves to professional high school players catching the eye of college varsity recruiters.
                      
                    </h5>
                    <img width="500" height="250" class="mt-n5 img-responsive" src="https://giffiles.alphacoders.com/649/6490.gif" alt="Gif ID: 6490" title="Anime Dragon Ball Z Gif">
                  </div>
                  <div class="d-md-flex justify-content-between">
                    <div class="ml-5 grid-margin d-flex justify-content-start">
                      <div class="features-width">
                        <img src="image" alt="" class="img-icons">
                        <h4 class="py-3">Highlights via <br>Twitch or YouTube</h4>
                        <p class="text-muted">Put your skills on display.</p>
                      </div>
                    </div>
                    <div class="pl-4 pr-4 grid-margin d-flex justify-content-center">
                      <div class="features-width">
                        <img src="images/Group7.svg" alt="" class="img-icons">
                        <h4 class="py-3">Check the Esports<br>Power Ranking</h4>
                        <p class="text-muted">With over 151 Colleges in partnership with <br> NACE aka National Association
                          of College Esports.</p>
                        <a href="https://www.ncsasports.org/best-colleges/best-esports-colleges">
                          <p class="readmore-link"><strong>Esports Rankings</strong></p>
                        </a>
                      </div>
                    </div>
                    <div class="mb-5 mr-5 grid-margin d-flex justify-content-end">
                      <div class="features-width">
                        <img src="images/Group5.svg" alt="" class="img-icons">
                        <h4 class="py-3">What games can you get Esports<br>scholorships for?</h4>
                        <p class="text-muted">Varsity programs award Esports <br> scholorships gamers who excel in a wide
                          range of popular titles.</p>
<button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-clear"><strong>View Popular Titles</strong></button>

  <div id="id01" class="w3-modal">
    <div class="pt-3 pb-2 rounded w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <p>League of Legends (LoL)</p>
        <p>Defense of the Ancients (DOTA) 2</p>
        <p>Smite</p>
        <p>Heroes of the Storm</p>
        <p>Overwatch</p>
        <p>Fortnite</p>
        <p>Halo Series</p>
        <p>Counter-Strike: Global Offensive (CS:GO)</p>
        <p>Players Unknown Battlegrounds (PUBG)</p>
        <p>Hearthstone</p>
        <p>StarCraft II</p>
        <p>Rocket League</p>
        <p>FIFA</p>
        <p>Madden</p>
        <p>Street Fighter</p>
        <p>Mortal Kombat</p>
        <p>Super Smash</p>
      </div>
    </div>
</section>

--------- 

  <section style="border-radius: 1rem; background-color: rgba(255, 255, 255, 0.925)" class="digital-marketing-service">  
                  <div class="grid-margin d-flex justify-content-center">
                    <div class="mb-3 mt-3 col-12 col-lg-5 flex-item grid-margin">
                      <h3 class="m-0">Build your profile<br>today!</h3>
                      <div class="grid-margin d-flex justify-content-center">
                        <p>Create your profile to share with recruiters and coaches.
                        <br>
                        Leverage your skills and earn a scholorship.</p>
                      </div>
                      <button class="btn btn-outline-dark" id="profile"><a href="/profile">View Your Profile</a></button>
                    </div>
                  </div>


              </div>
            </div>
</section>
</body>
