<h2 class="login-form">Login</h2>


<form class="form login-form">
  <div class="form-group">
    <label for="name-login">Name:</label><br>
    <input class="form-input" type="text" id="email-login" />
  </div>
    <div class="form-group">
    <label for="tag-login">Gamer Tag:</label><br>
    <input class="form-input" type="text" id="email-login" />
  </div>
    <div class="form-group">
    <label for="email-login">Email:</label><br>
    <input class="form-input" type="text" id="email-login" />
  </div>
    <div class="form-group">
    <label for="password-login">Password:</label><br>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>

<script src="../public/js/login.js"></script>
