*{
    box-sizing: border-box;
  }

  .hero {
      color: white;
      border-radius: 0;
      margin-bottom: 2%;
      background: linear-gradient(
      to right,
      blue,
      red
  )}

.starterColumn {
    color: white;
    opacity: 0.5;
}